In [6]:
#Melakukan Import Library dan load Datasheet
import pandas as pd
import numpy as np
nilai_kosong=['?','-',' ']
df_test = pd.read_csv('/content/adult-test.csv',na_values=nilai_kosong)
df_train = pd.read_csv('/content/adult-training.csv',na_values=nilai_kosong)
display(df_test)
display(df_train)

       Age      workclass  fnlwgt  ...  hours-per-week  native-country income
0       25        Private  226802  ...              40   United-States      0
1       38        Private   89814  ...              50   United-States      0
2       28      Local-gov  336951  ...              40   United-States      1
3       44        Private  160323  ...              40   United-States      1
4       18            NaN  103497  ...              30   United-States      0
...    ...            ...     ...  ...             ...             ...    ...
16276   39        Private  215419  ...              36   United-States      0
16277   64            NaN  321403  ...              40   United-States      0
16278   38        Private  374983  ...              50   United-States      0
16279   44        Private   83891  ...              40   United-States      0
16280   35   Self-emp-inc  182148  ...              60   United-States      1

[16281 rows x 15 columns]

       Age          workclass  fnlwgt  ...  hours-per-week  native-country income
0       39          State-gov   77516  ...              40   United-States      0
1       50   Self-emp-not-inc   83311  ...              13   United-States      0
2       38            Private  215646  ...              40   United-States      0
3       53            Private  234721  ...              40   United-States      0
4       28            Private  338409  ...              40            Cuba      0
...    ...                ...     ...  ...             ...             ...    ...
32556   27            Private  257302  ...              38   United-States      0
32557   40            Private  154374  ...              40   United-States      1
32558   58            Private  151910  ...              40   United-States      0
32559   22            Private  201490  ...              20   United-States      0
32560   52       Self-emp-inc  287927  ...              40   United-States      1

[32561 rows x 15 columns]

In [7]:
#Menghilangkan Nilai Kosong pada Datasheet
df_test = df_test.dropna()
df_train = df_train.dropna()

In [8]:
#Melakukan Reset Index setelah menghilangkan Data Kosong
df_test = df_test.reset_index(drop=True)

In [9]:
#Melakukan Reset Index setelah Menghilangkan Data Kosong
df_train = df_train.reset_index(drop=True)

In [10]:
#Menggabungkan Data
df = df_test.merge(df_train, how='outer')
df.head()

   Age   workclass  fnlwgt  ...  hours-per-week  native-country income
0   25     Private  226802  ...              40   United-States      0
1   38     Private   89814  ...              50   United-States      0
2   28   Local-gov  336951  ...              40   United-States      1
3   44     Private  160323  ...              40   United-States      1
4   34     Private  198693  ...              30   United-States      0

[5 rows x 15 columns]

In [11]:
df.to_csv('adult-merge.csv',index=False)

In [12]:
#Menghilangkan Kolom fnlwgt dan education-num karena tidak penting
df = df.drop(['fnlwgt', 'education-num'], axis=1)
df

       Age      workclass  education  ... hours-per-week  native-country income
0       25        Private          6  ...             40   United-States      0
1       38        Private          8  ...             50   United-States      0
2       28      Local-gov         10  ...             40   United-States      1
3       44        Private         12  ...             40   United-States      1
4       34        Private          5  ...             30   United-States      0
...    ...            ...        ...  ...            ...             ...    ...
45198   27        Private         10  ...             38   United-States      0
45199   40        Private          8  ...             40   United-States      1
45200   58        Private          8  ...             40   United-States      0
45201   22        Private          8  ...             20   United-States      0
45202   52   Self-emp-inc          8  ...             40   United-States      1

[45203 rows x 13 columns]

In [13]:
#Memisahkan data feature dan data target
X = df.drop('income', axis=1)
y = df['income']

In [14]:
#Melakukan Encoding Data train dan Data test pada data feature
X=pd.get_dummies(X,columns=['workclass','marital-status','occupation','relationship','race','sex','native-country'])

In [15]:
#Melakukan Split data menjadi data train dan data test untuk data feature dan data target
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
display(X_train.head())
display(X_test.head())

       Age  education  ...  native-country_ Vietnam  native-country_ Yugoslavia
2847    63         13  ...                        0                           0
1147    29         13  ...                        0                           0
28736   25          8  ...                        0                           0
29682   67          3  ...                        0                           0
15080   43         14  ...                        0                           0

[5 rows x 87 columns]

       Age  education  ...  native-country_ Vietnam  native-country_ Yugoslavia
3211    29         14  ...                        0                           0
5035    20         12  ...                        0                           0
20428   67         13  ...                        0                           0
19959   23         13  ...                        0                           0
27390   33         12  ...                        0                           0

[5 rows x 87 columns]

In [19]:
#Mencari nilai prediksi data target
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_predict = clf.predict(X_test)

In [22]:
from sklearn.metrics import classification_report
target_names = ['class 0', 'class 1']
print(classification_report(y_test, y_predict, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.87      0.89      0.88      6815
     class 1       0.64      0.61      0.62      2226

    accuracy                           0.82      9041
   macro avg       0.75      0.75      0.75      9041
weighted avg       0.81      0.82      0.82      9041

In [23]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Membuat Model KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Melatih Model menggunakan data trainning
knn.fit(X_train, y_train)

#Prediksi Hasil
y_pred = knn.predict(X_test)

In [24]:
from sklearn.metrics import classification_report
target_names = ['class 0', 'class 1']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.88      0.91      0.90      6815
     class 1       0.69      0.64      0.66      2226

    accuracy                           0.84      9041
   macro avg       0.79      0.77      0.78      9041
weighted avg       0.84      0.84      0.84      9041

In [25]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier
#Membuat Model KNN Classifier
knn = KNeighborsClassifier(n_neighbors=7)
#Melatih Model menggunakan data trainning
knn.fit(X_train, y_train)
#Prediksi Hasil
y_prediksi = knn.predict(X_test)

In [26]:
from sklearn.metrics import classification_report
target_names = ['class 0', 'class 1']
print(classification_report(y_test, y_prediksi, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.88      0.91      0.90      6815
     class 1       0.70      0.63      0.66      2226

    accuracy                           0.84      9041
   macro avg       0.79      0.77      0.78      9041
weighted avg       0.84      0.84      0.84      9041